antlr4-python3-runtime==4.8
Cython==0.29.36
editdistance==0.6.0
hydra-core==1.0.7
librosa==0.10.1
mediapipe==0.10.14
numpy==1.23.5
omegaconf==2.0.6
opencv-contrib-python==4.5.4.60
pandas==2.2.2
portalocker==2.0.0
protobuf==4.25.9
python-speech-features==0.6
PyYAML==6.0.3
sacrebleu==1.5.1
scikit-video==1.1.11
scipy==1.10.0
sentencepiece==0.1.96
soundfile==0.13.1
submitit==1.5.4
tqdm==4.67.1
